name: Check code quality

on:
  pull_request:

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install-dependencies:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: 'Dependencies'
    steps:
      - name: Checkout repository 
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Check dependencies
        run: bun install

  check-lint:
    name: 'Linting'
    needs: install-dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository 
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Check dependencies
        run: bun install

      - name: Check codebase linting
        run: bun lint:ci

  check-type:
    name: 'Typing'
    runs-on: ubuntu-latest
    needs: check-lint
    steps:
      - name: Checkout repository 
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Check dependencies
        run: bun install

      - name: Check codebase typing
        run: bun typecheck
